/* core styles */
body{
  margin: 0;
  font-family: 'Gotic A1', sans-serif;
  background-color: white;
  color: #FFF;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;

}
h3{
  color: black;
  font-family:'Gothic A1', sans-serif;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
h1, h2, h3{
  margin:0;
  padding: 5em 1;
  font-family: 'Spectral SC', serif;

}
p{
  margin: 0;
  padding: .5em 0;
}
.btn{
  font-family: 'Spectral SC', serif;
  font-size: 17px;
  color: white;
  text-decoration: none;
  padding: 1em 1em;
  margin:.5em 0;
  transition: all .3s ease-in-out;
}
.btn:hover{
  background: white;
  color:black;
}
#showcase .btn{

}
#showcase{
  min-height: 150px;
  color: white;
  text-align: center;
}
#showcase h1{
  padding-top: 100px;
  padding-bottom: 100px;
}
#showcase .bgimg{
  position: absolute;
  background-image: linear-gradient(to right, red ,#dd104f);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
}
#showcase.content-wrap,
#section-a.content-wrap {
  padding: 0 1.5em;
}

/* section-a */
#section-a {
  background: white;
  color:black;
  padding-bottom: 2em;
}
#section-b img{
  width: 300px;
  height: auto;
  background-position: center;
  background-size:contain;
}
#section-b p{
  color: white;
  background: red;
  padding: 12px;
  font-size: 20px;
}
#section-b li{
  min-width: 400px;
}


#section-b,
#section-c {
padding: 2em 1em 1em;
}
#section-b ul,
#section-c ul{
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .2s ease-in-out;
  box-shadow: 5px 10px #0000;
}
/* #section-b ul:hover, */
#section-c ul:hover{
  transform: scale(1.15);
}
#section-b li,
#section-c li{
  margin-bottom: 1em;
  background: #FFF;
  color: black;
}
.card a{
  text-decoration: none;
}
.card-content{
  padding: 1.5em;
  text-decoration: none;
}
.card-content2{
  text-decoration: none;
}
.card-content2 h1{
  color: red;
}
.card-content2 p{
  background-color: white;
  color: red;
  font-size: 16px;
}
.card img{
  width: 300px;
  height: auto;
}
/* section-c */

#section-c {
  background: #FFF;
  color: black;
  padding: 2em;
}
/* section d boxes n stuff */

#section-d p{

  font-size: 24px;
  padding: 2em;
  color: #FFF;
}
#section-d .box:first-child{
  background: red;
}
.redbutton{
  width: 300px;
  height: 100px;
  background-image: linear-gradient(to right, #ff0000 ,#dd104f);
  color: white;
  font-size: 20px;
  font-family: 'Gothic A1';
  transition: all .3s ease-in-out;

}
.redbutton:hover{
  background: white;
  color:red;
  border: red;

}
.crossedout{
  color: grey;
  text-decoration: line-through;
}
.grey{
  color: grey;
}
.newprice{
  color: red;
}
/* footer */

#main-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;;
  background: red;
  color: #fff;
  text-align: center;
}
#rec_container img{
  float: left;
  opacity: .7;
  padding: 20px;
  height: 100px;
  width: auto;


}
#main-footer img{
  width: 50px;
  padding: 2em;
}
#item1 h1{
  color: white;
  text-decoration: none;
}
/* media queries */
@media(max-width: 700px){
  #content-title a{
    width: 50px;
    height: auto;
  }

}
@media(min-width: 700px){
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2,minmax(auto, 25em))
    1fr;
  }

  }
  #section-a .content-img {
    columns: 2;
    column-gap: 2em;
  }
  #section-a .content-img p {
    padding-top: 0;
  }
  #section-a .content-img p {
    padding-top: 0;
  }
  .content-wrap,
  #section-b ul,
  #section-c ul {
    grid-column: 2/4;
  }s
  .box, #main-footer div{
    grid-column: span 2;
  }
  .box img{
    float: left;
    width: 100px;
  }
  #section-b ul,
  #section-c ul {
    display: flex;
    justify-content: space-around;
  }
  #section-b li{
    width: 31%;

  }
}
